<footer class="flex text-wrap bg-slate-200 h-[150px] flex-col  justify-center items-center space-y-4 mt-4  ">
    <div>
        <ul class="flex space-x-4">
            <li><a href=""><i class="fa-brands fa-facebook text-xl"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram text-xl"></i></a></li>
            <li><a href=""><i class="fa-brands fa-linkedin text-xl"></i></a></li>
        </ul>
    </div>
    <div>
        <a href="#" class="font-[600] text-[25px] text-slate-700">Wandert Lust</a>
    </div>
    <div>
        privacy term
    </div>
</footer>