<% layout('/layouts/boilerplate') -%>

<body>
    <div class='absolute w-[60%] ml-[20%] mt-4 bg-red-400 text-center text-xl'>
        <h1 class="p-4"><i class="fa-solid fa-triangle-exclamation pr-4"></i><%= message %></h1>
    </div>
</body>